<div>
  <div class="example-loading-shade" *ngIf="showLoader">
    <mat-spinner *ngIf="showLoader"></mat-spinner>
  </div>

  <mat-card *ngIf="cameraStatus" class="mat-card-camera">
    <mat-card-title>
      {{ TEXTS.ONLINE }}: {{ cameraStatus.online }}
    </mat-card-title>
    <mat-card-subtitle
      >{{ TEXTS.RECORDING_ON_CLOUD }}:
      {{ cameraStatus.recordingOnCloud }}</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ TEXTS.AUDIO_ENABLED }}:
      {{ cameraStatus.audioEnabled }}</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ TEXTS.FIRMWARE_STATUS }}:
      {{ cameraStatus.firmwareStatus }}</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ TEXTS.RECORDING_ON_SD }}:
      {{ cameraStatus.recordingOnSd }}</mat-card-subtitle
    >

    <mat-card-actions>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        (click)="GoBackToCameras()"
      >
        <mat-icon>keyboard_backspace</mat-icon>{{ TEXTS.BACK_BUTTON_LABEL }}
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        (click)="fetchCameraLocation(cameraStatus.cameraId)"
      >
        <mat-icon>location_on</mat-icon>{{ TEXTS.BUTTON_CAMERA_LOCATION }}
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="cameraLocation" class="mat-card-camera">
    <mat-card-title>
      {{ TEXTS.CAMERA_LOCATED }}: {{ cameraLocation.timeZone }}
    </mat-card-title>
  </mat-card>
</div>
