<div>
  <div class="example-loading-shade" *ngIf="showLoader">
    <mat-spinner *ngIf="showLoader"></mat-spinner>
  </div>
  <mat-card *ngIf="cameraDetail" class="mat-card-camera">
    <mat-card-title>
      {{ cameraDetail.name }}
    </mat-card-title>
    <mat-card-subtitle
      >{{ TEXTS.ID }}: {{ cameraDetail.cameraId }}</mat-card-subtitle
    >
    <mat-card-actions>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        (click)="GoBackToCameras()"
      >
        <mat-icon>keyboard_backspace</mat-icon>{{ TEXTS.BACK_BUTTON_LABEL }}
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        (click)="getStatus(cameraDetail.cameraId)"
      >
        <mat-icon>details icon</mat-icon>{{ TEXTS.SHOW_DETAILS }}
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="cameraStatus" class="mat-card-camera">
    <mat-card-title>
      {{ TEXTS.ONLINE }}: {{ cameraStatus.online }}
    </mat-card-title>
    <mat-card-subtitle
      >{{ TEXTS.RECORDING_ON_CLOUD }}:
      {{ cameraStatus.recordingOnCloud }}</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ TEXTS.AUDIO_ENABLED }}:
      {{ cameraStatus.audioEnabled }}</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ TEXTS.FIRMWARE_STATUS }}:
      {{ cameraStatus.firmwareStatus }}</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ TEXTS.RECORDING_ON_SD }}:
      {{ cameraStatus.recordingOnSd }}</mat-card-subtitle
    >
  </mat-card>
</div>
