@import "./variable.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: $color-primary;
  color: $color-white;
  margin: 10px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: $color-black;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  color: $color-primary;
}

.mat-card-camera {
  margin: 20px;
  width: auto;
}
